*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background: #fbf3ff;    
}
.container{
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.myrightcnt{
    position: relative;
    background-image: linear-gradient(45deg,#f046ff,#9b00e8);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: amine 2s linear 0.3s infinite alternate-reverse both;
}
@keyframes amine {
    0%{
        background: linear-gradient(45deg,rgb(255, 51, 255),rgb(26, 117, 255));
    }
    25%{
        background: linear-gradient(45deg,rgb(77, 219, 255),rgb(255, 26, 117));
    }
    50%{
        background:linear-gradient(45deg,rgb(0, 0, 204),rgb(255, 0, 0));
        }
    100%{
        background :linear-gradient(45deg,#f046ff,#9b00e8);
    }
    
    
}
.myleftcnt{
    position: relative;
    background: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
}
.myleftcnt header{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.row{
    height: 100%;
    
}
.myCard{
    
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}
.myrightcnt header
{
    color: #fff;
    font-size: 44px;
    text-transform: capitalize;
    text-align: center;

}
.myrightcnt p{
    color: #fbf3ff;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    
}

.box{
    text-align: center;
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}
.myrightcnt .box .img 
{

    position: relative;
    height: 100px;
    width: 100px;
    margin: 20px;
    right: 50px;
   
}
.myrightcnt .box .img img
{
    position: absolute;
    height: 100%;
    width: 100%;

}

.myleftcnt .myinput{
    width: 230px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    box-shadow: 0px 10px 49px -16px rgba(0,0,0,0.7);
}
.myleftcnt .myinput:focus{
    outline: none;
}
.myform{
    position: relative;
    margin-top: 50px;
}
.myleftcnt .butt{
    background: linear-gradient(45deg,#bb36fd,#9b00e8);
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 10px;

}
.myleftcnt .butt:hover{
    background: linear-gradient(45deg,#c85bff,#b726ff);
}
.myleftcnt .butt:focus
{
    outline: none;

}
.myleftcnt .fas{
    position: relative;
    color: #bb36fd;
    left: 36px;

}
.butt_out{
    background: transparent;
    color: #fff;
    width: 120px;
    border:2px solid #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 10px 49px -20px rgba(0,0,0,0.7);
}
.butt_out:hover
{
    border: 2px solid #eecbff;
}
.butt_out:focus{
    outline: none;
}